temp.nb
temp1.nb

*.sln
x64/
.vs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user



lab_1/tex/lab1mv.aux
lab_1/tex/lab1mv.fdb_latexmk
lab_1/tex/lab1mv.fls
lab_1/tex/lab1mv.synctex.gz
lab_1/tex/lab1mv.log


